FIREBASE_API_KEY="AIzaSyA23k0yeIkXj8_u91YH6qqIF_y117665tM"
FIREBASE_AUTH_DOMAIN="gudang-186be.firebaseapp.com"
FIREBASE_PROJECT_ID="gudang-186be"
FIREBASE_MESSAGING_SENDER_ID="39135400483"
FIREBASE_APP_ID="1:39135400483:web:ec0a9437524d4c2a645796"
